<% title "Team" %>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<p>
  <strong>Number:</strong>
  <%= @team.number %>
</p>
<p>
  <strong>Captain:</strong>
  <%= @team.captain_id %>
</p>

<p>
  <%= link_to "View All", teams_path %>
</p>
