<% title "Player" %>

<p>
  <strong>First Name:</strong>
  <%= @player.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @player.last_name %>
</p>
<p>
  <strong>Number:</strong>
  <%= @player.number %>
</p>

<p>
  <%= link_to "View All", players_path %>
</p>
