<% title "Referee" %>

<p>
  <strong>First Name:</strong>
  <%= @referee.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @referee.last_name %>
</p>

<p>
  <%= link_to "View All", referees_path %>
</p>
